@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.nav-links__container {
	@apply font-semibold tracking-tight flex items-start flex-col gap-2 text-sm;
}

.nav-links__heading {
	@apply text-zinc-600;
}

.nav-link__container {
	@apply text-white flex gap-1 p-2 rounded-xl hover:text-red-700 hover:bg-zinc-800 transition-all;
}

.nav-link {
	@apply flex gap-2;
}

.users-stat__container {
	@apply flex gap-2 justify-center items-center;
}

.users-stat__title {
	@apply text-zinc-600 text-sm font-medium;
}

.users-stat__number {
	@apply text-white font-semibold;
}

.container-dark-bordered {
	@apply bg-neutral-950 border border-solid border-neutral-800 rounded-xl;
}
